<h2 class="badge rounded-pill bg-primary fs-6"><%= business.organisation_name %></h2>
<p><%= business.address %></p>
<img src="https://images.unsplash.com/photo-1661281812258-129793403c61?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1172&q=80" alt="" class="">
