<div class="full-height">
<div style="width: 70%; height: 800px;"
  class="text-center my-5 mx-auto"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
