<h3>New booking</h3>
<%= simple_form_for [@vehicle, @booking] do |f| %>
  <div class="d-flex justify-content-between">
    <%= f.input :start_date, as: :date, html5: true %>
    <%= f.input :end_date, as: :date, html5: true  %>
  </div>
  <%= f.submit "Submit booking", class: "button-primary" %>
<% end %>
