
<div class="navbar-logo-left wf-section">
  <div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar-logo-left-container w-nav">
    <div class="container">
      <div class="navbar-wrapper">
        <a href="#" class="navbar-brand w-nav-brand"><img src="https://imgur.com/uU7W34t" width="181" alt=""></a>
        <nav role="navigation" class="nav-menu-wrapper w-nav-menu">
          <ul role="list" class="nav-menu-two w-list-unstyled">
            <li>
              <a href="#" class="nav-link">Home</a>
            </li>
            <li>
              <div data-hover="false" data-delay="0" class="nav-dropdown w-dropdown">
                <div class="nav-dropdown-toggle w-dropdown-toggle">
                  <div class="nav-dropdown-icon w-icon-dropdown-toggle"></div>
                  <div>Vehicles</div>
                </div>
              </div>
            </li>
            <li>
              <div class="nav-divider"></div>
            </li>
            <li>
              <a href="#" class="nav-link-accent">MY ACCOUNT</a>
            </li>
            <li class="mobile-margin-top-10">
              <a href="#" class="button-primary w-button">Get Started</a>
            </li>
          </ul>
        </nav>
        <div class="menu-button w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" class=>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1568605117036-5fe5e7bab0b7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2970&q=80);">
    <div class="d-flex align-items-center justify-content-center">
      <h1>Get around on your own terms</h1>
    </div>
  </div>
</div>

<section class="wf-section">
    <div class="container-5 w-container">
      <h1 class="heading-2">Choose from our selection of vehicles</h1>
    </div>
    <div class="w-container">
      <div class="w-layout-grid grid-2"><img src="images/joseph-chan-MJL_1skkrk8-unsplash.jpg" loading="lazy" id="w-node-_74727929-8fa2-25bf-1b15-e7935f635041-bea0d724" sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px" srcset="images/joseph-chan-MJL_1skkrk8-unsplash-p-500.jpg 500w, images/joseph-chan-MJL_1skkrk8-unsplash-p-800.jpg 800w, images/joseph-chan-MJL_1skkrk8-unsplash-p-1080.jpg 1080w, images/joseph-chan-MJL_1skkrk8-unsplash-p-1600.jpg 1600w, images/joseph-chan-MJL_1skkrk8-unsplash-p-2000.jpg 2000w, images/joseph-chan-MJL_1skkrk8-unsplash-p-2600.jpg 2600w, images/joseph-chan-MJL_1skkrk8-unsplash.jpg 3089w" alt=""><img src="images/dhiva-krishna-GRV4ypBKgxE-unsplash.jpg" loading="lazy" id="w-node-_71056371-0189-20f6-cdf1-24d6ff7c7b65-bea0d724" sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px" srcset="images/dhiva-krishna-GRV4ypBKgxE-unsplash-p-500.jpg 500w, images/dhiva-krishna-GRV4ypBKgxE-unsplash-p-800.jpg 800w, images/dhiva-krishna-GRV4ypBKgxE-unsplash-p-1080.jpg 1080w, images/dhiva-krishna-GRV4ypBKgxE-unsplash-p-1600.jpg 1600w, images/dhiva-krishna-GRV4ypBKgxE-unsplash-p-2000.jpg 2000w, images/dhiva-krishna-GRV4ypBKgxE-unsplash-p-2600.jpg 2600w, images/dhiva-krishna-GRV4ypBKgxE-unsplash-p-3200.jpg 3200w, images/dhiva-krishna-GRV4ypBKgxE-unsplash.jpg 3456w" alt="" class="image-3"><img src="images/joseph-chan-MJL_1skkrk8-unsplash.jpg" loading="lazy" id="w-node-ad4fd8ca-0b3f-7a55-097b-277f99584d71-bea0d724" sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px" srcset="images/joseph-chan-MJL_1skkrk8-unsplash-p-500.jpg 500w, images/joseph-chan-MJL_1skkrk8-unsplash-p-800.jpg 800w, images/joseph-chan-MJL_1skkrk8-unsplash-p-1080.jpg 1080w, images/joseph-chan-MJL_1skkrk8-unsplash-p-1600.jpg 1600w, images/joseph-chan-MJL_1skkrk8-unsplash-p-2000.jpg 2000w, images/joseph-chan-MJL_1skkrk8-unsplash-p-2600.jpg 2600w, images/joseph-chan-MJL_1skkrk8-unsplash.jpg 3089w" alt=""></div>
    </div>
    <div class="container-4 w-container">
      <a href="#" class="button-primary-2 w-button">View all</a>
    </div>
</section>
