.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 480px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 46px;
  font-weight: bold;

}

.banner h2 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  letter-spacing: 2px;
}

.banner p {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 16px;
  font-weight: lighter;
  padding: 20px 40px;
}
