.button-primary {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: $orange;
  border-radius: 5px;
  padding: 12px 30px;
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 12px;
  line-height: 20px;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  margin: 10px 10px;

}

.button-primary:hover {
  color: #fff;
  background-color: $black;
}

.button-primary:active {
  background-color: #43464d;
}

.navbar-button {
  color: $black;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: $orange;
  border-radius: 5px;
  padding: 12px 30px;
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 12px;
  line-height: 20px;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  margin-left: 0px;
  color: white;
}

.accept_decline_button {
  border: none;
  background: transparent;
}
