.mapboxgl-map {
  width: 60%;
}

.mapboxgl-popup-content {
  width: 450px;
  img {
    width: 400px;
  }
}

.full-height {
  height: 80vh;
}

.mapboxgl-marker:hover {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.popup-header {
  color: $orange;
  line-height: 12px;
  font-family: Plus Jakarta Sans, sans-serif;
}
