<div class="navbar-logo-left wf-section">
    <div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar-logo-left-container w-nav">
      <div class="container">
        <div class="navbar-wrapper">
          <a href="#" class="navbar-brand w-nav-brand"><img src="https://imgur.com/uU7W34t" width="200" alt=""></a>
          <nav role="navigation" class="nav-menu-wrapper w-nav-menu">
            <ul role="list" class="nav-menu-two w-list-unstyled">
              <li>
                <a href="#" class="nav-link">Home</a>
              </li>
              <li>
                <div data-hover="false" data-delay="0" class="nav-dropdown w-dropdown">
                  <div class="nav-dropdown-toggle w-dropdown-toggle">
                    <div class="nav-dropdown-icon w-icon-dropdown-toggle"></div>
                    <div>Vehicles</div>
                  </div>
                </div>
              </li>
              <li>
                <div class="nav-divider"></div>
              </li>
              <li>
                <a href="#" class="nav-link-accent">MY ACCOUNT</a>
              </li>
              <li class="mobile-margin-top-10">
                <a href="#" class="button-primary w-button">Get Started</a>
              </li>
            </ul>
          </nav>
          <div class="menu-button w-nav-button">
            <div class="w-icon-nav-menu"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

<h1>Vehicles currently Available</h1>

<ul>
  <% @vehicles.each do |vehicle| %>
    <li>
      <h2><%= vehicle.model %> driven by <%= vehicle.driver_name%></h2>
      <p><%= vehicle.category %></p>
      <p>Price: <%= vehicle.base_price %></p>
    </li>
  <% end %>
</ul>
